
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/employee.js"></script>
@*<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@
<div class="container">
	<h2>Product Details</h2>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add Product</button><br /><br />
	<table class="table table-bordered table-hover">
		
        <thead>
            <tr>

                <th>
                    Product Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Total
                </th>

                <th>
                    Action
                </th>
               <th>
                   <p id="gtot"></p>
               </th>
            </tr>
        </thead>
		<tbody class="tbody" id="Datasearching"></tbody>
	</table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" id="myModalLabel">Add Product</h4>
			</div>
			<div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="State">Customer Name</label>
                        <select id="drp" style="width:300px;" class="form-control">
                            <option>--Select Customer--</option>
                            @foreach (var item in ViewData["drp"] as List<MvcDemo.edmx.cust>)
                            {
                                <option value="@item.cid">@item.cname</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Age">Address</label>
                        <input type="text" class="form-control" id="ad" placeholder="Address" />
                    </div>


                    <div class="form-group">
                        <label for="State">Product Name</label>
                        <select id="drp2" style="width:300px;" class="form-control">
                            <option>--Select Product--</option>
                            @foreach (var item in ViewData["drp2"] as List<MvcDemo.edmx.product>)
                            {
                                <option value="@item.pid">@item.pname</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Age">Quantity</label>
                        <input type="text" class="form-control" id="qty" placeholder="Quantity" />
                    </div>

                    <div class="form-group">
                        <label for="Age">Rate</label>
                        <input type="text" class="form-control" id="rt" placeholder="Rate" />
                    </div>

                    <div class="form-group">
                        <label for="Age">Total</label>
                        <input type="text" class="form-control" id="tot" placeholder="Total Amount" />
                    </div>
                    <input type="hidden" id="pid" />
                    <input type="hidden" id="cid" />
                    <input type="hidden" id="stid" />

                </form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
				<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div> 